[Unit]
Description = Shipping Service

[Service]
User=root
Environment=CART_ENDPOINT=localhost:8087
Environment=DB_HOST=localhost
ExecStart=/bin/java /shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
